version: 2

defaults: &defaults
  docker:
    - image: gallileo/radarr-cci-primary:5.8

jobs:
    build:
        <<: *defaults
        steps:
            - checkout
            - run: git submodule update --init --recursive
            - run:
                name: Clean Build
                command: ./build.sh Clean
            - run:
                name: Restore Nuget
                command: ./build.sh NugetMono
            - run:
                name: Build
                command: ./build.sh Build
            - run:
                name: Gulp
                command: ./build.sh Gulp
            - run:
                name: Package
                command: ./build.sh Package
            - run:
                name: Preparing Tests
                command: mkdir -p _tests/reports/junit && mkdir -p ../.config/Radarr && chmod -R 777 ../.config
            - persist_to_workspace:
                root: .
                # Must be relative path from root
                paths:
                    - _output
                    - _output_mono
                    - _output_osx
                    - _output_osx_app
                    - _tests
                    - .circleci
            - store_artifacts:
                path: _output
            - store_artifacts:
                path: _output_mono
            - store_artifacts:
                path: _output_osx
            - store_artifacts:
                path: _output_osx_app
            - store_artifacts:
                path: _tests/reports/junit/results.xml
    unit_tests:
        <<: *defaults
        steps:
            - attach_workspace:
                at: .
            - run:
                name: Unit Tests
                command: ./_tests/test.sh Linux Unit
            - store_test_results:
                path: _tests/reports/
                
    integration_tests:
        <<: *defaults
        steps:
            - attach_workspace:
                at: .
            - run:
                name: Copy Binaries for Integration Tests
                command: cp -R _output_mono/ _tests/bin
            - run:
                name: Integration Tests
                command: ./_tests/test.sh Linux Integration
            - store_test_results:
                path: _tests/reports/
                
workflows:
    version: 2

    build_and_test:
        jobs:
            - build
            - unit_tests:
                requires:
                    - build
                    - build
            - integration_tests:
                requires:
                    - build